* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1 {
  text-align: center;
}
button {
  padding: 10px;
  border-radius: 100px;
  background-color: aqua;
  border: none;
  cursor: pointer;
  color: white;
}
button a {
  text-decoration: none;
}
button:hover {
  background-color: aliceblue;
  color: blueviolet;
  border: 1px solid aquamarine;
}

.page-change {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn-fixed {
  position: fixed;
}
/* Container - Index page */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
  column-gap: 5px;
}
.container h2 {
  margin-bottom: 10px;
}
span {
  margin-right: 5px;
}
.container a {
  text-decoration: none;
}
.container a:hover {
  text-decoration: underline;
}
/* pages container */
.pages-container {
  padding: 20px 10%;
}

/* content pages  styles */

.content-header {
  padding: 10% 10% 20px 10%;
}
.content-container {
  padding: 0 10% 20px 10%;
}
.content-container_box {
  margin-bottom: 10px;
}
ol {
  margin-bottom: 20px;
}
p {
  margin-bottom: 5px;
}
.container-table {
  display: flex;
  flex-wrap: wrap;
  column-gap: 50px;
}

@media only screen and (max-width: 800px) {
  .container-table {
    row-gap: 2px;
  }
}
