* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1 {
  text-align: center;
}
button {
  padding: 10px;
  border-radius: 100px;
  background-color: aqua;
  border: none;
  cursor: pointer;
  color: white;
}
button a {
  text-decoration: none;
}
button:hover {
  background-color: aliceblue;
  color: blueviolet;
  border: 1px solid aquamarine;
}
.page-change {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn-fixed {
  position: fixed;
}
.content-header {
  padding: 10%;
}
.content-container {
  padding: 10%;
}
ol {
  margin-bottom: 20px;
}
